
body{
  background-color:#333;
}
.navbar{
  position: relative;
  top: 0;
  z-index: 1;
}
.responsive{
   width:100%;
	height:auto;
}

.navbar ul{
    overflow:hidden;
    text-align: right; 
    width: 100%;
   
}

.navbar li{
    list-style-type: none;
    font-weight: bold;
}

.navbar li a{
  display:block;
  color: rgba(255, 255, 255, 1);
	padding:20px;
  text-decoration:none;
  font-family:Courier;
  
}

li a:hover{
 
  box-shadow: 0 5px 15px rgba(250, 4, 4, 1);
  text-decoration: none;
}
  
  
@media screen and (max-width: 600px) {
    body {
      width: 100%;
      padding: 0;
    }
}   

  body{
    margin:0 auto;
    width: 100%;
    
  }
  
  .footer{
    position: realative;
    left:0;
	  right:0;
	  bottom:0;
	  width:100%;
  }

.container{
  display: flex;
  justify-content: center;
}
.card{
  
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1000px;
  border: 2px black;
  box-shadow: 0 4px 8px 0 rgba(255, 1, 1, 1), 0 6px 20px 0 rgba(255, 0, 0, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  
}

h2,p{
  color: whitesmoke;
}

.image{
  display: flex;
  margin-left: auto;
  margin-right: auto
}

.container1{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  
}

.cnt {
  display: block;
  cursor: pointer;
  transition: 0.8s;
  border-color: red;  
  width: 25%;
  height: 400px;
  
}
.cnt h3{
  text-align: center;
  vertical-align: middle;
  border: 3px;
  line-height: 400px;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.2s;
}
h3:hover{
  transform: scale(0.8);
}

.cnt:hover{
  background-color: red;
  width: 30%;
  height: 430px;
  transition: all 0.4s ease;
}
